%div
  %table.table
    %thead
      %tr
        %th Email
        %th User Name
        %th gender
        %th{colspan: "3"} Actions
    %tbody
      - @customers.each do |customer|
        %tr
          %td= customer.email
          %td= customer.user_name
          %td= customer.gender
          %td
            = link_to 'View', customer_path(customer)
          %td
            = link_to 'Edit', edit_customer_path(customer)
          %td
            = link_to "Delete", customer_path(customer), method: :delete
